@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background: #F9F5F1;
  color: black;
  font-size: 1.1rem;
  font-weight: normal;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Playfair Display", serif;
  height: 75px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 55px;
  height: 55px;
  margin-right: 5px;
}

.app-title {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.invisible-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.uploaded-file {
  position: absolute;
  right: 20%;
  transform: translateX(50%);
}

.uploaded-file-container {
  position:absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
  
}

.uploaded-file-container h2 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0px;
  margin:  0px 0px 3px 0px;
}

.uploaded-file-container p {
  font-size: 1.0em;
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  transition: transform 0.1s ease;
}
