.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.upload-container {
    text-align: center;
}

.upload-btn {
    background: #574D68;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.2rem;
    border: none;
    transition: all 0.3s ease-in-out;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.small-upload .upload-btn {
    padding: 10px 20px;
    top: 10px;
    bottom: 10px;
    font-size: 1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-name {
    display: block;
    margin-top: 28px;
    font-size: 1rem;
    color: #555;
    font-family: Arial, sans-serif;
}

.small-upload {
    position: absolute;
    top: 3.75%;
    bottom: 3.75%;
    right: 6%;
    transform: translateX(50%);
    margin-top: 0;
}

.upload-message {
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    color: #574D68;
    text-align: center;
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 50;
}

.upload-message-container {
    text-align: center;
    max-width: 650px;
    margin-bottom: 20px;
}

.upload-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #4f455f;
    margin-bottom: 10px;
}

.upload-subtitle {
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    color: rgb(54, 45, 69);
    line-height: 1.4;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
  }
  
  .delay-0 {
    animation-delay: 0s;
  }
  .delay-1 {
    animation-delay: 0.3s;
  }
  .delay-2 {
    animation-delay: 0.6s;
  }
  .delay-3 {
    animation-delay: 0.9s;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  